<div class="list-group families">
  <ul>
  <% families.each do |family| %>
    <div >
    <% if current %>
      <li data-name="<%= family.last_name %>"class="list-group-item family"><%= link_to "#{family.last_name}, #{family.first_name}", admin_family_path(family) %>: arriving in <%= days_from_today family.arrival_date %></li>
      <%= render partial: "loan_information", locals: {family: family} %>
    <% else %>
      <li data-name="<%= family.last_name %>"class="list-group-item family"><%= link_to "#{family.last_name}, #{family.first_name}", admin_family_path(family) %>: arrived <%= days_from_today family.arrival_date %> ago</li>
      <%= render partial: "loan_information", locals: {family: family} %>
    <% end %>
  <% end %>
    </div>
  </ul>
</div>
