<h1>Create a New Family</h1>

<%= form_for [:admin, @family] do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :arrival_date %>
    <%= f.date_field :arrival_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :num_married_adults %>
    <%= f.select :num_married_adults, 0..10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :num_unmarried_adults %>
    <%= f.select :num_unmarried_adults, 0..10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :num_children_over_two %>
    <%= f.select :num_children_over_two, 0..10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :num_children_under_two %>
    <%= f.select :num_children_under_two, 0..10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :donation_deadline %>
    <%= f.date_field :donation_deadline, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nationality_id %>
    <%= f.collection_select :nationality_id, Nationality.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <%= f.submit "Create New Family", class: "btn btn-primary" %>
<% end %>
