<div class="container">

<h1>Admin Dashboard for <%= current_charity.name %></h1>

<div class = "charity-admin-charity">
  <%= link_to "See my donations", donations_path, class: "btn btn-warning" %>
  <%= link_to "Update my profile", edit_user_path(current_user), class: "btn btn-warning" %>
  <%= link_to "Update Charity", edit_charity_path(current_charity), class: "btn btn-warning" %>
  <%= link_to "All Families", admin_families_path, class: "btn btn-warning" %>
  <%= link_to "Create a New Family", new_admin_family_path, class: "btn btn-primary" %>
</div>

<div class="details">
    <h2>Administrators for <%= current_charity.name %></h2>
</div>

<%= render partial: 'shared/admin_box_display', locals: {admins: @admins} %>
</div>
