<table>

<% @cart_items.each do |item_id, quantity| %>

  <tr>
    <td><%= SupplyItem.find(item_id).supply.name %></td>
    <td><%= SupplyItem.find(item_id).supply.description %></td>
    <td><%= SupplyItem.find(item_id).supply.value %></td>
    <td>
        <%= form_for SupplyItem.find(item_id), url: cart_path(item_id), method: :put do |f| %>
          <div class='<%= SupplyItem.find(item_id).supply.name %>' >
            <td>
              <%= f.hidden_field :id, :value => item_id %>
              <div class="form-group">
                <%= f.select(:quantity, (0..SupplyItem.find(item_id).quantity), { :prompt => quantity}, { class: 'form-control' }) %>
              </div>
            </td>
            <td>
              <%= f.submit 'Update Cart' %>
            </td>
          </div>
        <% end %>
    </td>
    <td><%= button_to "Remove", cart_path(item_id), method: :delete %></td>
  </tr>
<% end %>

</table>

<h2>Total: <%= @cart.total_price %> </h2>


<%= link_to "See All Families", families_path %>
