<table class="table">

<% @cart_items.each do |item_id, quantity| %>

  <tr>
    <td><%= SupplyItem.find(item_id).supply.name%></td>
    <td><%= SupplyItem.find(item_id).supply.description%></td>
    <td><%= SupplyItem.find(item_id).supply.value%></td>
    <td> <%= quantity %> </td>
  </tr>
<% end %>

</table>

<h2>Total: <%= @cart.total_price %> </h2>


<%= link_to "See All Families", families_path %>
