<h1 class="text-center">Your Donations Cart</h1>

<% if !session.exists? || !@cart.contents.empty? %>
  <table class="table table-hover">
    <tr class="active">
      <th>Family Supply</th>
      <th>Description</th>
      <th>Value</th>
      <th>Subtotal</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>

    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= link_to cart_item.supply_item.name, family_path(cart_item.family) %></td>
      <td><%= cart_item.description %></td>
      <td><%= number_to_currency cart_item.value %></td>
      <td><%= number_to_currency cart_item.subtotal(cart_item.quantity) %></td>

      <%= form_for cart_item.supply_item, url: cart_item_path(cart_item.supply_item), method: :put do |f| %>
        <div class="<%= cart_item.supply.name %>">
          <td>
            <%= f.hidden_field :id, :value => cart_item.supply_item.id %>
            <div class="form-group">
            <%= f.select :quantity, (0..cart_item.supply_item.quantity), selected: cart_item.quantity, class: 'form-control' %>
            </div>
          </td>
          <td><%= f.submit "Update Cart", class: "btn btn-default" %></td>
        </div>
      <% end %>
      <td><%= button_to "Remove", cart_item_path(cart_item.supply_item), method: :delete, class: "btn btn-warning" %></td>
    </tr>
    <% end %>
  </table>

  <h2>Total: <%= number_to_currency @cart.total_price %> </h2>

  <% if current_user %>
    <%= link_to "Checkout", new_donation_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Login or Create Account to Checkout", login_path, class: "btn btn-primary" %>
  <% end %>

<% else %>
  <h3 class="text-center">There are no items in your cart</h3>
<% end %>
