<h1 class='col-sm-10 col-sm-offset-1'>Help Welcome these Famililes to the United States</h1>

<div class="well col-sm-10 col-sm-offset-1">
  <div class="container">
    <div class="col-sm-5 photo">
      <%= image_tag @featured.photo_path, :class => "img-responsive center-block" %>
    </div>
    <div class="col-sm-4 details">
      <p><%= link_to "Learn more about the #{@featured.name} conflict", @featured.info_link, class: "center-block learn-more" %></p>
      <%= image_tag @featured.greeting, :class => "img-responsive center-block greeting" %>
      <h4>Welcome to America<h4>
    </div>
  </div>
</div>

<div class="row nationality">
<% @nationalities.each do |nationality| %>
  <div class="col-lg-5 col-sm-offset-1 <%=nationality.name%>">
    <h4> <%= nationality.name %> Families Arriving Soon:</h4>
    <ul>
      <% nationality.families.active.each do |family| %>
        <li><%= link_to "Family of #{family.num_people}", family_path(family) %>: arriving on <%= format_date(family.arrival_date) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
