<h1>Help Welcome these Famililes to the United States</h1>

<div class="well">
  <div class="container">
    <div class="col-sm-6 photo">
      <%= image_tag @featured.photo_path, :class => "img-responsive center-block" %>
    </div>
    <div class="col-sm-4 details">
      <p><%= link_to "Learn more about the #{@featured.name} conflict", @featured.info_link, class: "center-block learn-more" %></p>
      <%= image_tag @featured.greeting, :class => "img-responsive center-block greeting" %>
      <h4>Welcome to America<h4>
    </div>
  </div>
</div>


<div class="row nationality">
<% @nationalities.each do |nationality| %>

  <div class="col-lg-6 <%=nationality.name%>">
    <h4> <%= nationality.name %> Families Arriving Soon:</h4>
    <ul>
      <% nationality.families.each do |family| %>
        <li><%= link_to "Family of #{family.num_people}", family_path(family) %>: arriving on <%= family.arrival_date.to_formatted_s(:long) %></li>
      <% end %>
    </ul>
  </div>


<% end %>
</div>
