<%= render partial: 'shared/family_show_headings'%>

<div class="profile">

  <%= render partial: 'shared/family_show_nationality_info', locals: {photo: @family.nationality.photo_path}%>

    <div class="family-info">
        <table class="table">
          <tr><td>Married Adults: <%= @family.num_married_adults %></td>
          <td>Unmarried Adults: <%= @family.num_unmarried_adults %></td></tr>
          <tr><td>Children Over Two: <%= @family.num_children_over_two %></td>
          <td>Children Under Two: <%= @family.num_children_under_two %></td></tr>
        </table>
    </div>
  </div>
</div>

<div class="col-sm-10 col-sm-offset-1">

  <% present @family do |family_presenter|  %>
    <%= family_presenter.retired_or_active_progress_bar %>
  <% end %>

  <h5><%= currency @supplies_purchased_value %> has been donated.</h5>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0"
        aria-valuemax="100" style="min-width: 2em; width: <%= @percentage_purchased %>%;">
      <%= @percentage_purchased %>%
    </div>
  </div>

<% if @family.loan %>
<h4>This family has requested a Microloan to begin a business of their own</h4>
<table class="table">
  <tr>
    <th>Loan Purpose</th>
    <th>Loan Description</th>
    <th>Amount</th>
    <th></th>
  </tr>

    <%= form_for @family.loan, url: cart_items_path, method: :create do |f| %>
      <div class='<%= @family.loan.purpose %> table-info' >
      <tr>
        <td><%= @family.loan.purpose %></br>
        <em><%= @family.loan.description %></em></td>
        <td><%= currency(@family.loan.requested_amount) %></td>
        <td><%= f.hidden_field :id, :value => @family.loan.id %>
          <div class="form-group">
            <%= f.select(:requested_amount, (@family.loan.donation_range), { :prompt => '0'}, { class: 'form-control' }) %>
          </div>
        </td>
        <td><%= f.submit 'add to cart', class: "btn btn-warning"%></td>
      </tr>
      </div>
    <% end %>
</table>
<ul>
  <li><%= link_to "View Loan", loan_path(@family.loan) %></li>
</ul>

<% end %>

<% if !@family.retired? %>
  <h4>Welcome this family with the following donations:</h4>
  <table class="table">
    <tr>
      <th>Donation Item</th>
      <th>Donation Value</th>
      <th>Quantity</th>
      <th></th>
    </tr>

    <% @family.supply_items.each do |supply_item| %>
    <% if supply_item.quantity_remaining > 0 %>
      <%= form_for supply_item, url: cart_items_path, method: :create do |f| %>
        <div class='<%= supply_item.name %> table-info' >
        <tr>
          <td><%= supply_item.name %></br>
          <em><%= supply_item.description %></em></td>
          <td><%= currency(supply_item.value) %></td>
          <td><%= f.hidden_field :id, :value => supply_item.id %>
            <div class="form-group">
              <%= f.select(:quantity, (1..supply_item.quantity_remaining), { :prompt => '0'}, { class: 'form-control' }) %>
            </div>
          </td>
          <td><%= f.submit 'add to cart', class: "btn btn-warning"%></td>
        </tr>
        </div>
      <% end %>
      <% end %>
    <% end  %>
  </table>
<% else %>
  <h4>This family was welcomed with the following donations:</h4>
    <table class="table">
      <tr>
        <th>Donated Item</th>
        <th>Donated Quantity</th>
        <th>Donation Date</th>
      </tr>
      <% @family.donations_received.map do |donation_item| %>
        <tr>
          <td><%= donation_item.name %></td>
          <td><%= donation_item.quantity %></td>
          <td><%= format_date donation_item.created_at %></td>
        </tr>
      <% end %>
    </table>
<% end  %>

</div>
