<div class="">

  <h1 class="family-heading"><%= @family.nationality.name %> Family of <%= @family.num_people %></h1>

  <div class="tags">
    <% if @family.categories %>
      <% @family.categories.take(2).each do |category| %>
        <%= link_to category.name, category_path(category), class: "btn btn-inverse" %>
      <% end %>
    <% end %>
  </div>

</div>

<h4 class="col-sm-6 details">Arrival Date: <%= @family.arrival_date.to_formatted_s(:long)  %></h4>
<h4 class="col-sm-6 details">Donate by: <%= @family.donation_deadline.to_formatted_s(:long) %></h4>



<div class="profile">

  <div class="col-sm-6 photo">
    <%= image_tag @family.nationality.photo_path %>
    <p> <%=  @family.description %> </p>
  </div>

  <div class="col-sm-4 details">

    <div class="greeting">
      <%= image_tag @family.nationality.greeting %>
      <p>Welcome to America</p>
    </div>

    <div class="learn-more">
      <%= link_to "Learn more about the #{@family.nationality.name} conflict", @family.nationality.info_link %>
    </div>


    <div class="family-info">
        <table class="table">
          <tr><td>Married Adults: <%= @family.num_married_adults %></td>
          <td>Unmarried Adults: <%= @family.num_unmarried_adults %></td></tr>
          <tr><td>Children Over Two: <%= @family.num_children_over_two %></td>
          <td>Children Under Two: <%= @family.num_children_under_two %></td></tr>
        </table>
    </div>

  </div>

</div>

<div class="col-sm-10">

  <table class="table">
    <tr>
      <th>Donation Item</th>
      <th>Donation Value</th>
      <th>Quantity</th>
      <th></th>
    </tr>

    <h4>Welcome them to the United States.  Donate these items to help them set up their new home.</h4>

    <% @family.supply_items.each do |supply_item| %>
      <%= form_for supply_item, url: cart_items_path, method: :create do |f| %>
      <div class='<%=supply_item.supply.name %>' >
      <tr>
        <td><%= supply_item.supply.name%></br>
        <em><%= supply_item.supply.description%></em></td>
        <td><%= number_to_currency supply_item.supply.value %>
        </td>
        <td>
          <%= f.hidden_field :id, :value => supply_item.id %>
          <div class="form-group">
            <%= f.select(:quantity, (1..supply_item.quantity), { :prompt => '0'}, { class: 'form-control' }) %>
          </div>
        </td>
        <td>
          <%= f.submit 'add to cart', class: "btn btn-warning" %>
        </td>
      </tr>
      <% end %>
    <% end  %>
    </div>
  </table>

</div>
