<div class="">

  <h1 class="family-heading col-sm-offset-1"><%= @family.nationality.name %> Family of <%= @family.num_people %></h1>

  <div class="tags">
    <% if @family.categories %>
      <% @family.categories.take(2).each do |category| %>
        <%= link_to category.name, category_path(category), class: "btn btn-inverse" %>
      <% end %>
    <% end %>
  </div>

</div>

<h4 class="col-sm-5 col-sm-offset-1 details">Arrival Date:
  <% if @family.retired? %>
    <h4>Family Arrived</h4></h4>
  <% else %>
    <%= format_date @family.arrival_date%></h4>
    <h4 class="col-sm-5 col-sm-offset-1 details">Donate by: <%= format_date @family.donation_deadline %>
    </h4>
<% end %>
