<h2><%= current_user.username %>'s Donations</h2>
<p>Total Donations: <%= @donations.count %> </p>

<table class="table">
  <tr>
    <th>Donation ID:</th>
    <th>Status:</th>
    <th>Placed on:</th>
    <th>Benefitting Families:</th>
    <th>Donation Items:</th>
  </tr>
  <% @donations.each do |donation| %>
    <tr>
      <td> <%= link_to donation.id, donation_path(donation.id) %></td>
      <td id="donation-status"> <%= donation.status %> </td>
      <td> <%= donation.date %></td>
      <td class="family-info">
      <% donation.donation_items.each do |donation_item| %>
        <%= donation_item.family_description %></br>
      <% end %>
      </td>
      <td class="donation-item-info">
      <% donation.donation_items.each do |donation_item| %>
        <% if donation_item.supply_item %>
          <%= donation_item.quantity %>
          <%= donation_item.name %></br>
        <% else %>
          <%= currency(donation_item.quantity) %>
          <%="#{donation_item.name} loan"%></br>
        <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
