
<h1 class='col-sm-10 col-sm-offset-2'1>A Home for Organizations that Build Homes</h1>

<div class="box">
  <% if current_user %>

    <%= link_to "Apply To Be One of Our Charities", new_charity_path, remote: true, class: "btn btn-primary" %>

  <% end %>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="new-charity-form" style="display:none;"></div>
</div>

<div class="col-sm-12 col-sm-offset-1">
<% @charities.each do |charity| %>
  <div class="form-box col-sm-5">
    <div class="container">
      <div class="col-sm-4 photo">
        <%= image_tag "reSTORE.png", :class => "img-responsive center-block" %>
        <p class= '<%= charity.slug %>'> <%= link_to "Learn more about #{charity.name}", charity_path(charity.slug), class: "center-block learn-more" %></p>
        <p>
          <div class="white-text">
            <%= charity.description %>
          </div>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>
