<div class="">
  <h1><%= @charity.name %></h1>
  <p><%= @charity.description %></p>
</div>

<ul>
  <% @families.each do |fam| %>
    <%= link_to "#{fam.nationality.name} Family of #{fam.num_people}", charity_families_path(@charity.slug, fam.id) %>
  <% end %>
</ul>

<div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Donations Received</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= @donation_stats[:num_items] %></h1>
        </div>
    </div>

    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Money Raised</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= currency_short @donation_stats[:money_raised]%></h1>
        </div>
    </div>

    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Families Helped</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= @donation_stats[:num_families] %></h1>
        </div>
    </div>
</div>
