<div class="intro">
  <div id="this-carousel-id" class="carousel slide">
    <div class="carousel-inner">
      <div class="active item">
        <%= render partial: 'featured', locals: {picture: "18-lens.jpg"} %>
      </div>
      <div class="item">
        <%= render partial: 'featured', locals: {picture: "lebanon-9.jpg"} %>
      </div>
      <div class="item">
        <%= render partial: 'featured', locals: {picture: "Niarchos.jpg"} %>
      </div>
      <div class="item">
        <%= render partial: 'featured', locals: {picture: "jordan-life.jpg"} %>
      </div>
      <div class="item">
        <%= render partial: 'featured', locals: {picture: "refugees-istanbul.jpg"} %>
      </div>
  </div>
    <a class="carousel-control" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
  </div>
</div>


<div class="container">
    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Donations Received</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= @donation_stats[:num_items] %></h1>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Money Raised</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= currency_short @donation_stats[:money_raised]%></h1>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-grey">
            <h2 class="heading-md">Families Helped</h2>
        </div>
    </div>
    <div class="col-md-2 col-sm-3">
        <div class="box box-yellow">
            <h1 class="heading-md"><%= @donation_stats[:num_families] %></h1>
        </div>
    </div>
</div>
