<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Update Loan</h3>
      </div>

      <div class="panel-body">
            <%= form_for([:admin, @loan]) do |f| %>
          <div class="form-group">
            <%= f.label :requested_amount %>
            <%= f.text_field :requested_amount, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :purpose %>
            <%= f.text_field :purpose, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :status, "Status" %>
            <%= f.select :status, options_for_select(["active", "retired"]), {}, class: "small-search", style: "margin-left: 64px;" %><br>
          </div>

          <%= f.submit "Update Loan", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
