<div class="profile">
<div>
  <h1 class="family-heading col-sm-offset-1"><%= @loan.purpose %></h1>
  <div class="tags">
    <%= link_to "Back to Family", family_path(@loan.family), class: "btn btn-inverse" %>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-1 photo">
  <%= image_tag "middle-east.jpg", :class => "img-responsive center-block" %>
</div>
<div class="col-sm-4 details">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      <%= @loan.description %>
    </div>
  </div>
  <div class="family-info">
      <table class="table">
        <tr>
          <th>Requested Amount</th>
          <th>Donation Amount</th>
          <th></th>
        </tr>
        <%= form_for @loan, url: cart_items_path, method: :create do |f| %>
          <div class='<%= @loan.purpose %> table-info' >
        <tr><td id="loan-amount"><%= currency(@loan.requested_amount) %></td>
          <td><%= f.hidden_field :id, :value => @loan.id %>
            <div class="form-group">
              <%= f.select(:requested_amount, (@loan.donation_range), { :prompt => '0'}, { class: 'form-control' }) %>
              <%= f.submit 'Donate Now', class: "learn-more"%>
            </div>
          </td></tr>
        </div>
      <% end %>
      </table>
  </div>
</div>
</div>
