<h2>All Charity Administrators</h2>

<div class="search-font filter">
<label>Filter By Username  </label>
<input type="text" placeholder="Username" id="user_filter_username">
</div>

<div class="box">
<%= link_to "Create New Admin", new_admin_user_path, class: "btn button-indigo" %>
</div>

<div class="col-sm-12 col-sm-offset-1 users">
<% @users.each do |user| %>
<div data-username="<%= user.username %>"class="form-box col-sm-5 user">
  <% if user.primary_charity_admin? %>
    <div class="original-admin">
      Primary Admin: <%= user.username %>:
      <%= @charity.name%>
    </div>
  <% else %>
    <div class="white-texxt">
      <%= user.username %>:
      <%= @charity.name %>
    </div>
  <% end %>
  <div>
    <%= form_for [:admin, user], multipart: true do |f|  %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :cell %>
      <%= f.telephone_field :cell, class: "form-control" %>
    </div>

    <%= f.submit "Update Admin", class: "btn btn-info active" %>
    <% end %>

    <div class="col-sm-2">
      <%= button_to "Demote Status", admin_user_path(user), method: :delete,  class: "btn btn-warning active btn-xs" %>
    </div>
  </div>
</div>
<% end %>
