
  <% if charity_type %>
        <% charity_type.each do |charity| %>
          <div class = "well">
            <div class = "<%= charity.name %>">
                <h4><%= link_to charity.name, charity_path(charity.slug) %> <%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "btn btn-warning" %></h4>
                  <%= render partial: 'charity_status', locals: {charity: charity} %>
                  <%= render partial: 'padmin_family_list', locals: {families: charity.families.active, current: true}%>
                  <%= render partial: 'padmin_family_list', locals: {families: charity.families.retired, current: false}%>
            </div>
          </div>
        <% end %>    
  <% end %>
