<% if charity_type %>
<div class="container">
  <% if charity_type == @pending_charities %>
    <div class="details">
      <h2>Pending Charities</h2>
    </div>
  <% elsif charity_type == @online_charities %>
    <div class="details">
      <h2>Online Charities</h2>
    </div>
  <% else charity_type == @offline_charities %>
    <div class="details">
      <h2>Offline Charities</h2>
    </div>
  <% end %>
  <% charity_type.each do |charity| %>
  <div class="well col-sm-10 col-sm-offset-1">
    <div class="container">
       <div class = "<%= charity.name %>">
      <div class="col-sm-4 details">
        <p><%= link_to charity.name, charity_path(charity.slug), class: "center-block learn-more" %></p>
        <p><%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "center-block btn update-charity" %></p>
        <p><%= render partial: 'charity_status', locals: {charity: charity} %></p>
      </div>
      <div class="col-sm-5 families-box">
        <div class="grey-texxt">
          Families
        </div>
        <div class="active-families">
          <%= render partial: 'padmin_family_list', locals: {families: charity.families.active, current: true}%>
        </div>
        <%= render partial: 'padmin_family_list', locals: {families: charity.families.retired, current: false}%>
      </div>
    </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
