<% if charity_type %>
  <% charity_type.each do |charity| %>
  <div class="well col-sm-10 col-sm-offset-1">
    <div class="container">
      <div class="col-sm-4 details">
        <p><%= link_to charity.name, charity_path(charity.slug), class: "center-block learn-more" %></p>
        <p><%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "center-block btn update-charity" %></p>
        <p><%= render partial: 'charity_status', locals: {charity: charity} %></p>
      </div>
      <div class="col-sm-5 families-box">
        <div class="grey-texxt">
          Families
        </div>
        <%= render partial: 'padmin_family_list', locals: {families: charity.families.active, current: true}%>
        <%= render partial: 'padmin_family_list', locals: {families: charity.families.retired, current: false}%>
      </div>
      </div>
    </div>
  <% end %>
<% end %>
