<div class = "families-table">

  <table class="table table-hover">
    <% families.each do |family| %>

    <tr class= "<%= family.last_name %>">
      <% if current %>
          <td><%= link_to "#{family.last_name}, #{family.first_name}", admin_family_path(family) %>: arriving in <%= days_from_today family.arrival_date %></td>
          <td><%= render partial: "admin/families/loan_information", locals: {family: family} %></td>
          <td><%= button_to "Update Family", edit_admin_family_path(family), method: :get, class: "btn btn-warning btn-xs" %></td>
      <% else %>
          <td><%= link_to "#{family.last_name}, #{family.first_name}", admin_family_path(family) %>: arrived <%= days_from_today family.arrival_date %> ago</td>
          <td><%= render partial: "admin/families/loan_information", locals: {family: family} %></td>
          <td><%= button_to "Update Family", edit_admin_family_path(family), method: :get, class: "btn btn-warning btn-xs" %></td>
      <% end %>
    </tr>

    <% end %>
  </table>
</div>
