<h1>Admin Dashboard</h1>

<%= link_to "See my donations", donations_path, class: "btn btn-warning" %>

<%= link_to "Update my profile", edit_user_path(current_user), class: "btn btn-warning" %>

  <h2>Pending Charities</h2>
    <div class = "pending">
      <%= render partial: 'padmin', locals: {charity_type: @charities.pending_charities} %>
    </div>

  <h2>Online Charities</h2>
    <div class = "online">
      <%= render partial: 'padmin', locals: {charity_type: @charities.online_charities} %>
    </div>

  <h2>Offline Charities</h2>
    <div class = "offline">
      <%= render partial: 'padmin', locals: {charity_type: @charities.offline_charities} %>
    </div>


<div class="details">
    <h2>All Charity Administrators</h2>
</div >

<%= render partial: 'shared/admin_box_display', locals: {admins: @admins} %>
