<h1> <%= @charity.name %>'s Administrator's Dashboard</h1>

<% if @charity %>
  <%= link_to "Update Charity", edit_charity_path(@charity), class: "btn button-maroon" %>
<% end %>

<%= link_to "All Families", admin_families_path, class: "btn button-green" %>

<%= link_to "Create a New Family", new_admin_family_path, class: "btn button-green active" %>

<div class="details">
  <h2>Administrators for <%= @charity.name %></h2>
</div>

<div class="search-font filter">
    <label>Filter By Username  </label>
    <input type="text" placeholder="Username" id="user_filter_username">
</div>

<div class="box">
  <%= link_to "Create New Admin", new_admin_user_path, class: "btn button-indigo" %>
</div>

<div class="col-sm-12 col-sm-offset-1 users">
  <% @users.each do |user| %>
    <div data-username="<%= user.username %>"class="form-box col-sm-5 user">
      <div class="white-texxt">
        <%= user.username %>
      </div>
      <div>
        <%= form_for [:admin, user], multipart: true do |f|  %>
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :cell %>
            <%= f.telephone_field :cell, class: "form-control" %>
          </div>

        <%= f.submit "Update Admin", class: "btn btn-info active" %>
        <% end %>
        <%= button_to "Remove Admin Status", admin_user_path(user), method: :delete, class: "btn btn-warning active" %>
      </div>
    </div>
  <% end %>
</div>

<h1>Admin Dashboard</h1>

<% if current_user.charity_admin? %>
  <% if @charity %>
    <h2> <%= @charity.name %> <h2>
    <%= link_to "Update Charity", edit_charity_path(@charity), class: "btn btn-warning" %>
  <% end %>
    <%= link_to "All Families", admin_families_path, class: "btn btn-warning" %>
    <%= link_to "Create a New Family", new_admin_family_path, class: "btn btn-primary" %>
<% end %>


<% if current_user.platform_admin? %>

  <h2>Pending Charities</h2>
    <%= render partial: 'padmin', locals: {charity_type: @pending_charities} %>

  <h2>Online Charities</h2>
    <%= render partial: 'padmin', locals: {charity_type: @online_charities} %>

  <h2>Offline Charities</h2>
    <%= render partial: 'padmin', locals: {charity_type: @offline_charities} %>

<% end %>
