  <h1>Admin Dashboard</h1>

<% if current_user.charity_admin? %>
  <% if @charity %>
    <h2> <%= @charity.name %> <h2>
    <%= link_to "Update Charity", edit_charity_path(@charity), class: "btn btn-warning" %>
  <% end %>
    <%= link_to "All Families", admin_families_path, class: "btn btn-warning" %>
    <%= link_to "Create a New Family", new_admin_family_path, class: "btn btn-primary" %>
<% end %>

<% if current_user.platform_admin? %>

  <h2>Pending Charities</h2>
    <% if @pending_charities %>
      <div class = "pending">
        <ul>
          <% @pending_charities.each do |charity| %>
              <li><%= link_to charity.name, charity_path(charity.slug) %> <%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "btn btn-warning"  %></li>
            <%= render partial: 'admin/families/family_list', locals: {families: charity.families.active, current: true}%>
            <%= render partial: 'admin/families/family_list', locals: {families: charity.families.retired, current: false}%>
          <% end %>
        </ul>
      </div>
    <% end %>

  <h2>Online Charities</h2>
  <% if @online_charities %>
    <div class = "online">
      <ul>
      <% @online_charities.each do |charity| %>
        <div class = "online-charity">
          <li><%= link_to charity.name, charity_path(charity.slug) %> <%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "btn btn-warning"  %></li>
        </div>
        <%= render partial: 'admin/families/family_list', locals: {families: charity.families.active, current: true}%>
        <%= render partial: 'admin/families/family_list', locals: {families: charity.families.retired, current: false}%>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Offline Charities</h2>
  <% if @offline_charities %>
    <div class = "offline">
      <ul>
        <% @offline_charities.each do |charity| %>
          <li><%=link_to charity.name, charity_path(charity.slug) %> <%= button_to "Update Charity", edit_charity_path(charity), method: :get, class: "btn btn-warning"  %></li>
            <%= render partial: 'admin/families/family_list', locals: {families: charity.families.active, current: true}%>
            <%= render partial: 'admin/families/family_list', locals: {families: charity.families.retired, current: false}%>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
